<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page introuvable</title>
    <link rel="stylesheet" href="/css/animaux.css">
</head>

<body class="pageIntrouvable">
    <div class="erreur404">
        <img src="/images/images.jpeg" alt="imageErreur404">
        <div>
            <span class="erreurpage"> Oups !</span>
            <br><br>
            <span class="erreurpage"> La page que vous recherchez n'est pas trouvable.
                <br>
                <a class="erreurpage" href="/">Retourner à la page d'accueil</a>
            </span>

        </div>
    </div>
</body>

</html>