<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoption d'animaux de compagnie</title>
    <link rel="stylesheet" href="/css/animaux.css">
    <script src="/js/script.js"></script>
</head>

<body>
    {%for animal in listeAnimaux%}
    <a href="/animal/{{animal.get('id')}}">
        <div class="card">
            <img src="/images/unknown.png" alt="chien" id="imageChien">

            <div class="container">
                <h2><b>{{animal.get("nom")}}</b></h2>
                <p>{{animal.get("description")}}</p>
            </div>
        </div>
    </a>
    {%endfor%}
</body>

</html>